* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.49)), to(rgba(0, 0, 0, 0.49))), url("../img/Rectangle.svg");
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url("../img/Rectangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 64px;
}

.hero__travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__travel p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  line-height: 67px;
  font-weight: 900;
  color: #FF6332;
}

.hero__travel i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  line-height: 65px;
  font-weight: 300;
  color: #FFFFFF;
  font-style: normal;
}

main {
  min-width: 320px;
}

main .photo {
  margin: 64px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .photo .container {
  padding: 0;
  min-width: 320px;
}

main .photo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 64px 32px;
}

main .photo ul > li {
  list-style: none;
  min-width: 33%;
  padding-right: 16px;
  padding-bottom: 16px;
}

main .photo ul > li .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

main .photo__instagram {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 320px;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .photo__instagram ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .photo__instagram ul > li {
  list-style: none;
  min-width: 25%;
  margin: 0;
  padding: 0;
  opacity: 1;
}

main .photo__instagram ul > li .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.5;
  width: 100%;
}

main .photo__instagram .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

main .photo__instagram .instagram p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 35px;
  font-weight: 300;
  color: #FFFFFF;
}

main .photo__instagram .instagram p > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 37px;
  font-weight: 900;
  color: #FF6332;
  font-style: normal;
}

footer {
  height: 100px;
  background-color: #000000;
}

footer .footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  height: 69px;
}

footer .footer__end h2 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  body {
    min-width: 1440px;
  }
  .hero {
    min-width: 1440px;
    height: 1024px;
  }
  .hero__travel p {
    font-size: 48px;
  }
  .hero__travel i {
    font-size: 48px;
  }
  main {
    min-width: 1440px;
  }
  main .photo .container {
    min-width: 1440px;
  }
  main .photo__instagram {
    min-width: 1440px;
  }
  main .photo__instagram .instagram p {
    font-size: 48px;
    line-height: 65px;
  }
  main .photo__instagram .instagram p > i {
    font-size: 48px;
    line-height: 67px;
  }
  .footer {
    min-width: 1440px;
    height: 154px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */