$color-red: #FF6332;
$color-white: #FFFFFF;
$color-black: #000000;
* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    padding: 0;
}
body {
    background-color: $color-white;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
}
.hero {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;  
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url('../img/Rectangle.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-bottom: 64px;    
    }
    &__travel {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        & p {
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            line-height: 67px;
            font-weight: 900;
            color: $color-red;
        }
        & i {
            display: flex;
            text-align: center;
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            line-height: 65px;
            font-weight: 300;
            color: $color-white;
            font-style: normal; 
        }
    }
}
main { 
    min-width: 320px;
    & .photo {
        margin: 64px 32px;  
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
        .container {
            padding: 0;
            min-width: 320px;
        }  
        ul {
            display: flex;  
            flex-wrap: wrap;
            justify-content: center;
            margin: 64px 32px;  
            & > li {
                list-style: none;    
                min-width: 33%;
                padding-right: 16px;
                padding-bottom: 16px;
                .image {
                    align-self: center;  
                    width: 100%;                             
                }
            }
        }                
    }
    .photo__instagram {
        padding: 0;
        margin: 0;  
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
        min-width: 320px;  
        background-color: $color-black;  
        align-items: center; 
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%; 
            & > li {
                list-style: none;
                min-width: 25%;
                margin: 0;
                padding: 0;
                opacity: 1;
                .image {
                    align-self: center;
                    opacity: 0.5; 
                    width: 100%;
                }
            }    
        }
        .instagram {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
           
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                line-height: 35px;
                font-weight: 300;
                color: $color-white; 
                & > i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 37px;
                    font-weight: 900;
                    color: $color-red;
                    font-style: normal;
                }
            }
        }               
    }
}
footer {
    height: 100px;
    background-color: $color-black;
    .footer__end {
        display: flex;
        align-items: center;  
        justify-content: center;
        align-items: center;
        height: 69px;
        h2 {
            color: $color-white;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;  
        }     
    }
}
@media only screen and (min-width: 1440px) {
    body {  
        min-width: 1440px;
    }
    .hero {
        min-width: 1440px;
        height: 1024px;
        &__travel {
            & p {
                font-size: 48px;
            }
            & i {
                font-size: 48px;
            }
        }
    }   
    main { 
        min-width: 1440px;
        & .photo {
            .container {
                min-width: 1440px;
            }             
        }
        .photo__instagram {
            min-width: 1440px; 
            .instagram {
                p {
                    font-size: 48px;
                    line-height: 65px; 
                    & > i {
                        font-size: 48px;
                        line-height: 67px;
                    }
                }
            }               
        }
    }
    .footer {
        min-width: 1440px; 
        height: 154px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

