$color-red: #FF6332;
$color-white: #FFFFFF;
$color-black: #000000;
* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    padding: 0;
}
body {
    background-color: $color-white;
    font-family: 'Roboto', sans-serif;
    max-width: 515px;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.hero {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;  
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Rectangle.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-bottom: 64px;    
    }
    &__travel {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        & p {
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            line-height: 67px;
            font-weight: 900;
            color: $color-red;
        }
        & i {
            display: flex;
            text-align: center;
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            line-height: 65px;
            font-weight: 300;
            color: $color-white;
            font-style: normal; 
        }
    }
}
main { 
    max-width: 515px;
    & .photo {
        margin: 64px 32px;  
        .container {
            padding: 0;
            width: 375px;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                & > li {
                    list-style: none;
                    width: 33%;
                    height: 33%;
                    .image {
                        align-self: center;                        
                    }
                }
            }
        }              
    }
}
footer {
    height: 154px;
    .photo__instagram {
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            text-align: center;
            padding: 0;
            max-width: 515px;  
            ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;    
                background-position: center; 
                & > li {
                    list-style: none;
                    width: 25%;
                    height: 25%;
                    margin: 0;
                    padding: 0;
                    opacity: 2;
                    .image {
                        align-self: center;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .instagram {
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 28px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 35px;
                    font-weight: 300;
                    color: $color-white;
                    position: absolute; 
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;                    
                    & > i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 28px;
                        font-family: 'Roboto', sans-serif;
                        line-height: 37px;
                        font-weight: 900;
                        color: $color-red;
                        font-style: normal;
                    }
                }
            }              
        }  
    }
    .footer__end {
        background-color: $color-black;
        display: flex;
        align-items: center;  
        justify-content: center;
        align-items: center;
        height: 69px;
        h2 {
            color: $color-white;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;  
        }     
    }
}
@media only screen and (min-width: 1440px) {
    body {  
        min-width: 1440px;
    }
    .hero {
        min-width: 1440px;
        height: 1024px;
        &__travel {
            & p {
                font-size: 48px;
            }
            & i {
                font-size: 48px;
            }
        }
    }   
    main { 
        min-width: 1440px;
        & .photo {
            margin: 64px 32px; 
            width: 1377px;
            height: 946px;
            .container {
                display: flex;  
                min-width: 1440px; 
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                & > li {
                    list-style: none;   
                    width: 100%;
                    .image {
                        align-self: center;
                        width: 437px;
                        height: 294px;
                        padding-bottom: 32px;    
                    }
                }
            }           
        }
    }
    .footer {
        width: 1440px; 
        .photo__instagram {
            .container {
                min-width: 1440px; 
                background-color: $color-black;   
                ul {
                    & > li { 
                        width: 25%;
                        height: 25%;
                        .image {
                            align-self: center;
                            margin: 0;
                            width: 360px;
                            height: 284px;
                            padding: 0;  
                            opacity: 0.5; 
                        }
                    }
                }
                .instagram {
                    p {
                        font-size: 48px;
                        line-height: 65px; 
                        & > i {
                            font-size: 48px;
                            line-height: 67px;
                        }
                    }
                }              
            }  
        }
    }
}

